html {
  font-size: 62.5%
  height: 100%;
}
body {
  height: 100%;
  width:100%;
}
header {
  height: 100px;
  width: 100%;
  position : fixed;
  top : 0;
  z-index : 10;
  background-color: #1DA1F2;
  font-size: 1.5rem;
}
header p {
  color : #fff;
}
.header-left {
  float: left;
  margin-left: 20px;
}
.header-right {
  float: right;
  padding-right: 150px;
}
.header-middle {
  float: left;
  margin-left: 20px;

  animation-name:fade-in1;
  animation-duration:4s; /*//アニメーション時間*/
  animation-timing-function: ease-out; /*/アニメーションさせるイージング*/
  animation-delay:1s; /*/アニメーション開始させる時間*/
  animation-iteration-count:1; /*/繰り返し回数*/
  animation-direction:normal; /*/往復処理をするかどうか*/
  animation-fill-mode: forwards; /*/アニメーション後のスタイルをどうするか*/
}
@keyframes fade-in1 {
  0% {opacity: 1}
  100% {opacity: 0}
}
.container {
  width: 100%;
  margin-top : 120px;
  min-height: 100%;
  margin-bottom : 60px;
}
.content{
  height: 100px;
  width: 90%;
  margin-left:20px;
  font-size: 1.5rem;
  border-style: solid; border-color: #a9a9a9;
  margin:10px;
}
.contents-left {
  float: left;
}
.contents-right {
  float: right;
}
.footer{
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #1DA1F2;
}
.error_msg {
  margin-top : 120px;
  margin-left:20px;
  height: 100px;
  width: 100%;
}
.new_content{
  margin-left:20px;
  font-size: 1.5rem;
}
.back_index {
  margin-top:100px;
  margin-left:20px;
  font-size: 1.5rem;
}
.confirm_content{
  margin-top : 120px;
  margin-left:20px;
  font-size: 1.5rem;
}
